  <ion-footer-bar align-title="left" class="bar-assertive">
<ion-tabs class="footer">
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/categories']">
      <ion-icon name="apps"></ion-icon>
    </ion-tab-button>
    <ion-tab-button  [routerLink]="['/cart']">
      <ion-icon name="cart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button  [routerLink]="['/products']">
    <ion-icon name="list"></ion-icon>
    </ion-tab-button>
        <ion-tab-button  [routerLink]="['/login']">
    <ion-icon name="log-in"></ion-icon>
       </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
  </ion-footer-bar>