.cardi{
  font-size: 31px;
    margin-bottom: -2%;
    color:gray;
}
.shipping ion-item{
height:50px;
border-bottom:1px solid gray;
}
.shipping .card{
  height:70px;
  border-bottom:1px solid gray;
}
.shipping h4{
      font-weight: 600;
    font-family: sans-serif;
    padding-left: 5%;
}