<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
    <div slot="end">
    <ion-badge color="primary">11</ion-badge>
   <ion-icon class="icon" [routerLink]="['/products']" name="cart"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

 <form class="shipping">
 <h4>Billing Address</h4>
    <ion-item lines="full" class="card">
      <!-- <ion-label position="floating">First name</ion-label> -->
      <ion-label position="floating"><ion-icon class="cardi" name="card"></ion-icon> Add Payment card</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Name on card</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Billing Address</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

<ion-grid>
<ion-row>
<ion-col>
  <ion-item lines="full">
      <ion-label position="floating">Apartment</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
</ion-col>
<ion-col>
  <ion-item lines="full">
      <ion-label position="floating">Zip Code</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    </ion-col>
</ion-row>  
<ion-row>
<ion-col size="8">
  <ion-item lines="full">
      <ion-label position="floating">City</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
</ion-col>
<ion-col size="4">
  <ion-item lines="full">
      <ion-label position="floating">State</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    </ion-col>
</ion-row> 
</ion-grid>
    <ion-item lines="full">
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" [routerLink]="['/confirmation']" >Continue</ion-button>
          <ion-button type="submit" color="primary" expand="block" [routerLink]="['/confirmation']" >Cash On Delivery</ion-button>
      </ion-col>
    </ion-row>
    </form>
</ion-content>
