<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <h1 style="padding-left:5%">Welcome,</h1> -->
<h1 class="title">Sign In to Continue!</h1>

  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
              <a class="forget" [routerLink]="['/forget-password']" class="small-text">Forgot Password?</a>
        <button class="btn btn-custom" [routerLink]="['/categories']" >Sign In</button>

      </ion-col>
    </ion-row>
  </form>
</ion-content>