<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
    <div slot="end">
   <ion-icon class="icon" [routerLink]="['/cart']" name="cart"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>

<ion-content>
<!-- <img src="../assets/imges/spoffer.jpg" width="100%" height="100px"> -->

<ion-grid>
  <ion-row class="category">
    <ion-col>
    <div  class="box" [routerLink]="['/products']">
    <img src="../assets/imges/fruts/anar.jpg" width="90%" height="50%">
      <p>Fruits</p>
      </div>
    </ion-col>
    <ion-col>
      <div  class="box" [routerLink]="['/products']">
    <img src="../assets/imges/fruts/anar.jpg" width="90%" height="50%">
      <p>Fruits</p>
      </div>
    </ion-col>
    <ion-col>
     <div  class="box" [routerLink]="['/products']">
    <img src="../assets/imges/fruts/anar.jpg" width="90%" height="50%">
      <p>Fruits</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="category">
    <ion-col>
    <div  class="box" [routerLink]="['/products']">
    <img src="../assets/imges/fruts/anar.jpg" width="90%" height="50%">
      <p>Fruits</p>
      </div>
    </ion-col>
    <ion-col>
      <div  class="box" [routerLink]="['/products']">
    <img src="../assets/imges/fruts/anar.jpg" width="90%" height="50%">
      <p>Fruits</p>
      </div>
    </ion-col>
    <ion-col>
     <div  class="box" [routerLink]="['/products']">
    <img src="../assets/imges/fruts/anar.jpg" width="90%" height="50%">
      <p>Fruits</p>
      </div>
    </ion-col>
  </ion-row>
   <ion-row class="category">
    <ion-col>
    <div  class="box" [routerLink]="['/products']">
    <img src="../assets/imges/fruts/anar.jpg" width="90%" height="50%">
      <p>Fruits</p>
      </div>
    </ion-col>
    <ion-col>
      <div  class="box" [routerLink]="['/products']">
    <img src="../assets/imges/fruts/anar.jpg" width="90%" height="50%">
      <p>Fruits</p>
      </div>
    </ion-col>
    <ion-col>
     <div  class="box" [routerLink]="['/products']">
    <img src="../assets/imges/fruts/anar.jpg" width="90%" height="50%">
      <p>Fruits</p>
      </div>
    </ion-col>
  </ion-row>
      </ion-grid>
</ion-content>
