.icon{
    font-size:28px;
    padding-right:5%;
}
.category p{
    text-align:center;
    font-weight:normal;
    padding:0;
    padding-bottom:2%;
}
.box{
    // padding:5%;
    margin:1%;
    box-shadow: 0px 3px 9px #00000029;
}
