<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
    <div slot="end">
    <ion-badge color="primary">1</ion-badge>
   <ion-icon class="icon" [routerLink]="['/products']" name="cart"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<h4>Cart Details</h4>
   <ion-card class="shoppingcart">
    <h4>Amrug</h4>
    <p>Qty: 2kg <span style="float:right;">Rs. 240</span></p> 
    <ion-text style="color:red;font-size:14px;">Delivery In 2 Days</ion-text>
     <ion-grid>
<ion-row>
<ion-col>
<button class="btn-outline" ion-button round><ion-icon name="save"></ion-icon>Save for Later</button>
</ion-col>
<ion-col>
<button class="btn-dark" ion-button outline [routerLink]="['/shipping-address']"><ion-icon name="cart"></ion-icon>BUY NOW</button>
</ion-col>
</ion-row>
</ion-grid>
    </ion-card>
    <ion-card class="shoppingcart">
    <h4>Vegitables</h4>
    <p>Qty: 1kg <span style="float:right;">Rs. 150</span></p> 
    <ion-text style="color:red;font-size:14px;">Delivery In 2 Days</ion-text>
     <ion-grid>
<ion-row>
<ion-col>
<button class="btn-outline" ion-button round><ion-icon name="save"></ion-icon>Save for Later</button>
</ion-col>
<ion-col>
<button class="btn-dark" ion-button outline [routerLink]="['/shipping-address']"><ion-icon name="cart"></ion-icon>BUY NOW</button>
</ion-col>
</ion-row>
</ion-grid>
    </ion-card>
    <ion-card class="shoppingcart">
    <h4>Mango</h4>
    <p>Qty: 2kg <span style="float:right;">Rs. 240</span></p> 
    <ion-text style="color:red;font-size:14px;">Delivery In 2 Days</ion-text>
     <ion-grid>
<ion-row>
<ion-col>
<button class="btn-outline" ion-button round><ion-icon name="save"></ion-icon>Save for Later</button>
</ion-col>
<ion-col>
<button class="btn-dark" ion-button outline [routerLink]="['/shipping-address']"><ion-icon name="cart"></ion-icon>BUY NOW</button>
</ion-col>
</ion-row>
</ion-grid>
    </ion-card>
   
    <ion-card class="shoppingcart">
    <h4>PRICE DETAILS</h4>
 <ion-grid>
  <ion-row>
    <ion-col>
    <p>Price (1 Item)</p> 
    </ion-col>
    <ion-col>
 <p>Rs. 540</p>
    </ion-col>
  </ion-row>
  <ion-row>
     <ion-col>
    <p>Discount</p> 
    </ion-col>
    <ion-col>
 <p>-150</p>
    </ion-col>
  </ion-row>
   <ion-row>
     <ion-col>
    <p>Dilivery Charges</p> 
    </ion-col>
    <ion-col>
 <p>50</p>
    </ion-col>
  </ion-row>

   <ion-row style="font-weight:bold;">
     <ion-col>
    <p>Total Amount</p> 
    </ion-col>
    <ion-col>
 <p>350</p>
    </ion-col>
  </ion-row>

  </ion-grid>
     <p style="color:green;font-size:14px;">You save Rs.150 on this order.</p>
    </ion-card>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" [routerLink]="['/shipping']">Procced</ion-button>
      </ion-col>
    </ion-row>
</ion-content>