.btn-outline{
    border:2px solid purple;
    background-color:white;
    padding:5% 4%;
    font-size:16px;
      width: 100%;
    border-radius:5px;
}
ion-card{
    padding:2%;
    padding-left:3%;
    padding-bottom:5%;
}
h4{
padding-left:3% !important;
padding-top:3% !important;
padding:0%;
margin:0;
}
ion-row{
    height:35px;
}
.btn-dark{
    // border:2px solid purple;
    background-color:purple;
     padding: 8% 13%;
    width: 100%;
    border-radius:5px;
    color:white;
    font-size:16px;
}
.btn-outline ion-icon{
padding-right:5%;
}
.btn-dark ion-icon{
padding-right:5%;
}