<ion-header>
  <ion-toolbar>
    <ion-title>Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card style="text-align:center;">
<p>Thank You...!</p>
<p>Your Order Has Been Placed.</p>
<ion-icon style="font-size:60px;" name="car"></ion-icon>
</ion-card>
<ion-item>
1 Item shipped to: 
</ion-item>
<ion-item class="address">
Flat No. 102,Sai Prasad Residency, <br>
Mahadev Nagar, Baner.<br>
Pune, Maharashtra.<br>
425123.<br><br>
</ion-item>
<ion-item class="address">
<button  class="btn-custom" [routerLink]="['/categories']">Keep Shopping</button>
</ion-item>
</ion-content>
