<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
    <div slot="end">
    <ion-badge color="primary">11</ion-badge>
   <ion-icon class="icon" [routerLink]="['/cart']" name="cart"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>

<ion-content>
<!-- <img src="../assets/imges/spoffer.jpg" width="100%" height="100px"> -->

<ion-grid>
<ion-card>
  <ion-row class="category">
    <ion-col size="4">
 <img src="../assets/imges/fruts/amrud.jpg">
    </ion-col>
    <ion-col>
<h1 class="productname">Amrud</h1>
<ion-text>This is 100% pure & natural fruit.</ion-text><br>
<del>Rs. 150</del> &nbsp; &nbsp; &nbsp; &nbsp;
<b>Rs. 120</b>
<div><ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star-half"></ion-icon>
<ion-icon name="star-outline"></ion-icon>
<button class="btn-custom" [routerLink]="['/productdetails']">Details</button>
</div>
    </ion-col>

  </ion-row>
  </ion-card>
<ion-card>
  <ion-row class="category">
    <ion-col size="4">
 <img src="../assets/imges/fruts/amrud.jpg">
    </ion-col>
    <ion-col>
<h1 class="productname">Amrud</h1>
<ion-text>This is 100% pure & natural fruit.</ion-text><br>
<del>Rs. 150</del> &nbsp; &nbsp; &nbsp; &nbsp;
<b>Rs. 120</b>
<div><ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star-half"></ion-icon>
<ion-icon name="star-outline"></ion-icon>
<button class="btn-custom">Details</button>
</div>
    </ion-col>

  </ion-row>
  </ion-card>
<ion-card>
  <ion-row class="category">
    <ion-col size="4">
 <img src="../assets/imges/fruts/amrud.jpg">
    </ion-col>
    <ion-col>
<h1 class="productname">Amrud</h1>
<ion-text>This is 100% pure & natural fruit.</ion-text><br>
<del>Rs. 150</del> &nbsp; &nbsp; &nbsp; &nbsp;
<b>Rs. 120</b>
<div><ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star-half"></ion-icon>
<ion-icon name="star-outline"></ion-icon>
<button class="btn-custom">Details</button>
</div>
    </ion-col>

  </ion-row>
  </ion-card>
  <ion-card>
  <ion-row class="category">
    <ion-col size="4">
 <img src="../assets/imges/fruts/amrud.jpg">
    </ion-col>
    <ion-col>
<h1 class="productname">Amrud</h1>
<ion-text>This is 100% pure & natural fruit.</ion-text><br>
<del>Rs. 150</del> &nbsp; &nbsp; &nbsp; &nbsp;
<b>Rs. 120</b>
<div><ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star-half"></ion-icon>
<ion-icon name="star-outline"></ion-icon>
<button class="btn-custom">Details</button>
</div>
    </ion-col>

  </ion-row>
  </ion-card>
  <ion-card>
  <ion-row class="category">
    <ion-col size="4">
 <img src="../assets/imges/fruts/amrud.jpg">
    </ion-col>
    <ion-col>
<h1 class="productname">Amrud</h1>
<ion-text>This is 100% pure & natural fruit.</ion-text><br>
<del>Rs. 150</del> &nbsp; &nbsp; &nbsp; &nbsp;
<b>Rs. 120</b>
<div><ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star-half"></ion-icon>
<ion-icon name="star-outline"></ion-icon>
<button class="btn-custom">Details</button>
</div>
    </ion-col>

  </ion-row>
  </ion-card>
      </ion-grid>
</ion-content>

