.productname{
    font-size: 20px;
    font-weight:bold;
}
ion-text{
    color:gray;
        font-size: 16px;
}
.icon{
    font-size:28px;
    padding-right:35%;
    margin-top:-25%;
}
ion-badge{
    margin-top:2%;
    margin-right:45%;
    border-radius:25px;
}
.bar-assertive{
    background-color : purple;
}