.productDetails{
    padding:2%;
}
ion-text{
    font-size:16px;
    color:gray;
    text-align:left;
    padding-left:5%;
}
.heading{
    padding-top:1%;
     padding-bottom:2%;
        font-size:22px;
    color:black;
      text-align:left;
}
.box{
    box-shadow:0px 3px 9px #00000029;
    margin:1% 3%;
}
.box img{
   width:70%;
}
.price{
    padding-left:7%;
       font-size:22px;
       font-weight:normal;
}
.del{
    color:gray;
}
.stock{
    float:right;
    padding-right:8%;
    font-size:16px;
    color:red;
}
.discription{
    margin:0;
    margin-top:-10%;
    padding-left:3%;
}
.discription h4{
    font-weight:bold;
    color: gray;
}
.btn-outline{
    border:2px solid purple;
    background-color:white;
    padding:5%;
    border-radius:5px;
}
.btn-dark{
    // border:2px solid purple;
    background-color:purple;
    padding: 6% 20%;
    border-radius:5px;
    color:white;
}