<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Product Details</ion-title>
    <div slot="end">
    <ion-badge color="primary">11</ion-badge>
   <ion-icon class="icon" [routerLink]="['/cart']" name="cart"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<!-- <ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar> -->

<ion-content>
<ion-row class="productDetails">

<ion-title class="heading">Amrud</ion-title>
<ion-text>This is 100% pure and natural Fruit.</ion-text>
<div class="box">
 <img src="../assets/imges/fruts/amrud.jpg">
 </div>
 <div style="width:100%"><p class="price">Rs. 120 <del class="del">Rs. 150</del><span class="stock">5 in stock</span></p></div>
<div class="discription">
<h4>Description</h4>
<ion-text>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
</ion-text>
<ion-grid>
<ion-row>
<ion-col>Choose Quantity<br>

<ion-button ion-button round outline>1Kg</ion-button>
<ion-button ion-button round outline>2Kg</ion-button>
<ion-button ion-button round outline>5kg</ion-button>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
<ion-col>
<button class="btn-outline" ion-button round>ADD TO CART</button>
</ion-col>
<ion-col>
<button class="btn-dark" ion-button outline [routerLink]="['/shipping-address']">BUY NOW</button>
</ion-col>
</ion-row>
</ion-grid>

</div>
</ion-row>
</ion-content>
