/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.btn-custom{
   background-color: purple;
    color: white;
    padding: 5% 21%;
    margin: 3% 0%;
    width: 95%;
    font-size: 18px;
    border-radius: 5px;
}
*{
    font-size:18px;
}
ion-item{
    height:70px;
    margin-top:2%;
}
ion-title{
    text-align:center;
}
.icon{
    font-size:28px;
    padding-right:35%;
    margin-top:-25%;
}
ion-badge{
    margin-top:2%;
    margin-right:45%;
    border-radius:25px;
}
ion-tab-button{
    background-color : purple;
}
.footer ion-icon{
    font-size:30px;
    color:white;
}