<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shipping</ion-title>
    <div slot="end">
    <ion-badge color="primary">11</ion-badge>
   <ion-icon class="icon" name="cart" [routerLink]="['/cart']"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card class="shoppingcart">
    <h4>Amrug</h4>
    <p>Qty: 2kg <span style="float:right;">Rs. 240</span></p> 
    <ion-text style="color:red;font-size:14px;">Delivery In 2 Days</ion-text>
    </ion-card>
    <ion-card class="shoppingcart">
    <h4>PRICE DETAILS</h4>
 <ion-grid>
  <ion-row>
    <ion-col>
    <p>Price (1 Item)</p> 
    </ion-col>
    <ion-col>
 <p>Rs. 540</p>
    </ion-col>
  </ion-row>
  <ion-row>
     <ion-col>
    <p>Discount</p> 
    </ion-col>
    <ion-col>
 <p>-150</p>
    </ion-col>
  </ion-row>
   <ion-row>
     <ion-col>
    <p>Dilivery Charges</p> 
    </ion-col>
    <ion-col>
 <p>50</p>
    </ion-col>
  </ion-row>

   <ion-row style="font-weight:bold;">
     <ion-col>
    <p>Total Amount</p> 
    </ion-col>
    <ion-col>
 <p>350</p>
    </ion-col>
  </ion-row>

  </ion-grid>
     <p style="color:green;font-size:14px;">You save Rs.150 on this order.</p>
    </ion-card>
 <form class="shipping">
 <h4>Shipping Address</h4>
    <ion-item lines="full" class="card">
      <!-- <ion-label position="floating">First name</ion-label> -->
      <ion-label position="floating"> Name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

<ion-grid>
<ion-row>
<ion-col>
  <ion-item lines="full">
      <ion-label position="floating">Apartment</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
</ion-col>
<ion-col>
  <ion-item lines="full">
      <ion-label position="floating">City</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    </ion-col>
</ion-row>  
<ion-row>
<ion-col size="8">
  <ion-item lines="full">
      <ion-label position="floating">State</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
</ion-col>
<ion-col size="4">
  <ion-item lines="full">
      <ion-label position="floating">Zipcode</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    </ion-col>
</ion-row> 
</ion-grid>
    <ion-item lines="full">
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" [routerLink]="['/shipping']">Procced</ion-button>
      </ion-col>
    </ion-row>
    </form>

 
</ion-content>