.shipping ion-item{
height:50px;
border-bottom:1px solid gray;
}
// .shipping .card{
//   height:70px;
//   border-bottom:1px solid gray;
// }
.shipping h4{
      font-weight: 600;
    font-family: sans-serif;
    padding-left: 3%;
}
.shoppingcart ion-row{
height:30px;
}
ion-card{
    color:black;
    padding:5%;
}