<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
  <img src="../assets/images/ll.png" width="50px">
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
     
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
  <h1>Welcome To E-market</h1>
  <img src="../assets/imges/ll.png" width="150px"><br>
    <strong>Find it, love it, buy it.</strong><br>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/register']" expand="block" color="primary">Register</ion-button>

        <span class="divider line one-line">or</span><br>

        <span class="already">Already a user?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
      
    </ion-grid>
  </div>
</ion-content>
